<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emopay">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> // here we defined ACCESS_BACKGROUND_LOCATION for Android 10 device
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE "/>

    <!-- Step 1: Add the following permission to the app  -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Step 2: This permission is depreciated in Android P  -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmoPay"
        tools:targetApi="n">

        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.DashboardActivity" />
        <activity android:name=".ui.activity.AepsActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.SplashScreen"
            android:label="@string/app_name" />
        <activity android:name=".ui.activity.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.BaseActivity" />
        <activity android:name=".ui.activity.BimetricDeviceSelectionActivity" />
        <activity android:name=".ui.activity.AepsTransaction" />
        <activity android:name=".ui.activity.DMTActivity" />
    </application>

</manifest>